<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Session</h1>
        {{ name }}{{ sname }}<br/><hr/>
        {% for key in keys %}
            {{ key }}<br/>
        {% endfor %}<hr/>
        {% for item in items %}
            {{ item }}<br/>
        {% endfor %}<hr/>
        {% for x,y in items %}
            {{ x }} - {{ y }}<br/>
        {% endfor %}<hr/>
        <a href="{% url 'cart:item_add' %}">add</a>
    </div>
</body>
</html>